Package: kestrel
Version: 0.11.0
Architecture: amd64
Section: utils
Priority: optional
Description: File encryption done right
 Kestrel is a file encryption utility that lets you encrypt files to
 anyone with a public key.
Maintainer: Kyle Schreiber <kyle@80x24.net>
Homepage: https://getkestrel.com
